@charset "utf-8";

.limpiar{
	clear: both;
}

#div_inicio {
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color:  rgba(201, 57, 57, 0.658);
    border-radius: 10px;
}

table {
    width: 100%;
}

td {
    padding: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}

input[type=text]:focus {
    border: 3px solid #b60000a1;
  }

input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}

input[type=password]:focus {
    border: 3px solid #b60000a1;
        border-radius: 10px;
  }

  
input[type="button"] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}

input[type=button]:hover {
    color: #b60000a1;
    border: 3px solid #b60000a1;
    border-radius: 10px;
  }