@charset "utf-8";

.NavBarra {
    text-align: center;
}

.NavBarra ul {
    width: 100%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 80, 80);
}
  
.NavBarra li {
    display: inline-block;
}
  
.NavBarra li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
  
.NavBarra li a:hover {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    text-decoration: none;
    background-color: white;
    color: black;
}

.NavBarra li a:visited {
    text-decoration: none;
}


.active {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: white;
}